@font-face {
    font-family: 'orpheus';
    src: url('Orpheus Pro.otf') format('opentype');
}

*, body {
    font-family: orpheus, sans-serif;
}


.banner-area-prin {
    background-image:url(https://images.squarespace-cdn.com/content/v1/5ecffd6747d11b03f8b19ce6/1590689150165-MW45AWEQJ1IRU6XUNWPZ/Texture_15_066-copy.jpg);
    background-position:center;
    background-size:cover;
}

header .container {
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:0 45px;
    height:90px;
}

.tit-cabecalho {
    font-size:2em;
}

.tit-cabecalho a {
    color:#FFF;
    text-decoration:none;
}

.menu-lista {
    display:flex;
}

.menu-itens {
    margin:0 10px;
    font-weight:bold;
    letter-spacing:1px;
}

.menu-itens a {
    color:#FFF;
    text-decoration:none;
}

.menu-itens:first-child {
    margin-left:0;
}

.menu-itens:nth-child(2) {
    border-bottom:1px solid #FFF;
    padding-bottom:8px;
}

.menu-itens:last-child {
    margin-right:0;
}

.icones-lista {
    display:flex;
}

.icone-itens {
    margin:0 10px;  
}

.icone-itens:first-child {
    margin-left:0;
}

.icone-itens:last-child {
    margin-right:0;
}   


.area-segun .container {
    color:#FFF;
    display:flex;
    justify-content:center;
    align-items:center;
    height:400px;
}

.tit-area-segun {
    font-size:4em;
}


main .container {
    background-color:#38383b;
    color:#FFF;
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:75px;
}

.div-area-prin {
    display:flex;
    flex-direction:column;
    align-items:center;
    width:75%;
}

.txt1-area-prin {
    font-size:3em;
    text-align:center;
}

.card-area-prin {
    margin:75px 0px;
}

.card-area-prin img {
    width:100%;
}

.desc-card-area-prin {
    margin-top:25px;
    width:50%;
    text-align:left;
    font-size:14px;
    line-height:30px;
}

.txt2-area-prin {
    width:75%;
    text-align:justify;
    font-size:18px;
    line-height:30px;
}


footer .container {
    background-color:#38383b;
    color:#FFF;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    padding:75px 50px;
    height:150px;
}

.div1-rodape {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}

.tit-rodape {
    font-size:2em;
}

.tit-rodape a {
    color:#FFF;
    text-decoration:none;
}

.rodape-menu {
    display:flex;
}

.rodape-menu-itens {
    margin:0 10px;
    letter-spacing:1px;
}

.rodape-menu-itens a, .txt-rodape a {
    color:#a8a6a1;
    border-bottom:1px solid #a8a6a1;
    text-decoration:none;
}

.rodape-menu-itens:first-child {
    margin-left:0;
}

.rodape-menu-itens:last-child {
    margin-right:0;
}

.div2-rodape {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}

.txt-rodape {
    margin-bottom:20px;
    letter-spacing:1px;
}


@media (max-width:830px) {

    header .container {
        flex-direction:column;
        padding:40px 45px 0px;
        height:auto;
    }

    .tit-cabecalho {
        margin-bottom:30px;
    }

    .menu-prin {
        margin-bottom:30px;
        font-size:14.5px;
    }   

    .tit-card-area-prin {
        font-size:1.5em;
    }

    .div-area-prin {
        width:100%;
    }

    footer .container {
        align-items:center;
        padding:0px 50px 75px;
        text-align:center;
        height:auto;
    }

    .tit-rodape {
        margin-bottom:30px;
    }

    .div1-rodape {
        margin-bottom:30px;
    }

    .div1-rodape, .div2-rodape {
        flex-direction:column;
    }

    .txt-rodape {
        margin-bottom:30px;
        line-height:30px;
    }

    .icones-lista {
        align-items:center;
        justify-content:center;
    }
}

@media (max-width:640px) {

    .txt1-area-prin {
        font-size:2em;
    }
}

@media (max-width:500px) {

    header .container {
        padding:75px 25px 0;
    }

    .area-prin .container {
        padding:75px 50px;
    }

    .txt1-area-prin {
        font-size:1.5em;
    }

    .card-area-prin {
        margin:75px 0 50px;
    }

    .desc-card-area-prin {
        width:100%;
    }

    .txt2-area-prin {
        width:100%;
        font-size:16px;
    }

    footer .container {
        padding:0 25px 75px;
    }
}

@media (max-width:425px) {

    header .container {
        padding:50px 20px 25px;
    }

    .menu-itens {
        font-size:11.5px;
    }

    .area-segun .container {
        height:300px;
    }

    .tit-area-segun {
        font-size:3em;
    }

    footer .container {
        padding:0 30px 75px;
        height:auto;
    }

    .rodape-menu {
        align-items:center;
        flex-direction:column;
        text-align:center;
    }

    .rodape-menu-itens {
        margin:20px 0px 20px;
    }

    .rodape-menu-itens:first-child {
        margin-top:15px;
    }

    .rodape-menu-itens:last-child {
        margin-bottom:15px;
    }
}